{% block html_head_container %}
    {% include 'templates/html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="realestate_version {{body_class}}">
    <header class="header header_style_01">
        {% include 'templates/navbar.twig' %}
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            {% include 'templates/footer.twig' %}
            {{ function('wp_footer') }}
        </footer>
    {% endblock %}
    </body>
</html>